@model ForgottenPasswordViewModel

<div class="forgotten-password-page">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Please select your question and answer your correct answer for confirmation</h5>
                </div>

                <div class="card-body">
                    <form asp-route="ForgottenPassword">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <div class="form-group">
                                <label asp-for="@Model.Email"></label>
                                <input class="form-control" placeholder="E-mail..." asp-for="@Model.Email" autofocus>
                            </div>
                        </div>
                        <br />
                        <hr />
                        <span class="text-danger" asp-validation-for="@Model.QAUserProtection"></span>
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.QAUserProtection.Question"></label>
                                <select class="form-control" asp-for="@Model.QAUserProtection.Question" asp-items="Html.GetEnumSelectList<Question>()">
                                    <option value="">Please select question</option>
                                </select>
                                <span class="text-danger" asp-validation-for="@Model.QAUserProtection.Question"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.QAUserProtection.Answare"></label>
                                <input type="text" placeholder="Give your answare..." class="form-control" asp-for="@Model.QAUserProtection.Answare" autofocus>
                                <span class="text-danger" asp-validation-for="@Model.QAUserProtection.Answare"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" name="button">Check</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Login",new {Model.ReturnUrl })">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/forgotten-password.css" rel="stylesheet" />