@model ResetPasswordViewModel

<div class="reset-password-page">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Reset Password</h2>
                </div>

                <div class="card-body">
                    <form asp-route="ForgottenPassword">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.Password"></label>
                                <input type="password" class="form-control" placeholder="Password..." asp-for="@Model.Password" autocomplete="off">
                                <span class="password-description">
                                    <i>please make strong password for security reason (at least 1 uppercase, 1 lowercase, special charachter, number)</i>
                                </span>
                                <br />
                                <span class="text-danger" asp-validation-for="@Model.Password"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.ConfirmPassword"></label>
                                <input type="password" class="form-control" placeholder="Confirm Password..." asp-for="@Model.ConfirmPassword" autocomplete="off">
                                <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary" name="button">Submit</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Login",new {Model.ReturnUrl })">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

